/*--------CSS DE LA PAGE NOUS CONNAITRE---------*/

html, body {
    height: 100%;  /* S'assurer que le body occupe toute la hauteur de la fenêtre */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f0;
    color: #4a2a5a;
    display: flex;
    flex-direction: column;  /* Organiser les éléments en colonne */
}

            /*--------NAVBARRE---------*/


/* Styles pour la barre de navigation */
header {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 20px;
    background-color: #4a2a5a; /* Violet */
}

nav ul {
    height: 100%;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
nav ul li {
    height: 100%; /* Chaque item du menu prend toute la hauteur de la navbar */
}

nav ul li a {
    color: #f2f2f0;
    text-decoration: none;
    font-weight: bold;
    font-size: 1em;
    padding: 10px;
    transition: color 0.3s ease;
    height: 100%;
    display: flex;
    align-items: center;
}


a:hover,
a.active {
    color: #4a2a5a; /* Le texte devient violet quand on est sur la page dédiée ou en faisant défiler le curseur */
    background-color: #f2f2f0; /*Le BG est blanc comme la page sur la page activ et en faisant défiler le curseur */
}
.navbar-logo {
    display: flex;
    align-items: center; /* Align logo vertically */
    justify-content: center;
    height: 50px; /* Set the same height as other menu items */
    
}


/*----------CONTENU----------*/

/* Container des deux sections */
.main-content {
    flex: 1;
    max-width: 1600px;
    margin: 0 auto;  /* Centrer le contenu horizontalement */
    padding: 0 20px; /* Ajouter un peu de padding pour éviter que le contenu touche les bords */
    align-items: center; 
}

/* Centrer le contenu dans contain1 et contain2 */
.contain1, .contain2 {
    margin-top: 50px;
    display: flex;
    justify-content: center;  /* Centrer les éléments à l'intérieur de chaque section */
    gap: 10px;
    width: 100%; /* Assurer que les sections prennent toute la largeur disponible */
}

/* Réduire la largeur des sections texte et image */
.text-section-gauche, .text-section-droite {
    max-width: 600px;
    flex: 1;
    align-items: center; 
}

.image-section-droite, .image-section-gauche {
    flex: 0 0 40%;
    display: flex;
    justify-content: flex-start;
}

.image-section-droite img, .image-section-gauche img {
    width: 400px;
    height: auto;
    border-radius: 8px;
}



/*-------BOUTON--------*/

.button-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4a2a5a;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
    margin-top: 20px;
}

.button-link:hover {
    background-color: #f2f2f0;
    color: #4a2a5a;
}

/*------FOOTER------*/

footer {
    background-color: #4a2a5a;;
    text-align: center;
    padding: 10px;
    color: white;
    margin-top: auto; /* Pousse le footer en bas */
}
