* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f0;
    color: #4a2a5a;
}

            /*--------NAVBARRE---------*/


/* Styles pour la barre de navigation */
header {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 20px;
    background-color: #4a2a5a; /* Violet */
}

nav ul {
    height: 100%;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
nav ul li {
    height: 100%; /* Chaque item du menu prend toute la hauteur de la navbar */
}

nav ul li a {
    color: #f2f2f0;
    text-decoration: none;
    font-weight: bold;
    font-size: 1em;
    padding: 10px;
    transition: color 0.3s ease;
    height: 100%;
    display: flex;
    align-items: center;
}


a:hover,
a.active {
    color: #4a2a5a; /* Le texte devient violet quand on est sur la page dédiée ou en faisant défiler le curseur */
    background-color: #f2f2f0; /*Le BG est blanc comme la page sur la page activ et en faisant défiler le curseur */
}
.navbar-logo {
    display: flex;
    align-items: center; /* Align logo vertically */
    justify-content: center;
    height: 50px; /* Set the same height as other menu items */
    
}


/*----------CONTENU----------*/

.contain1 {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.contain2 {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.text-section-gauche {
    max-width: 600px;
    flex: 1;
    margin-right: 10px;
}

.text-section-gauche h2 {
    font-size: 3.5em;
    letter-spacing: 4px;
    margin-bottom: 20px;
    font-family: "Source Sans 3", sans-serif;
    font-optical-sizing: auto;
    font-weight: 243;
    font-style: bold;
}


.text-section-gauche p {
    font-size: 1.5em;
    line-height: 1.6;
    margin-bottom: 20px;
    text-align: justify;
    font-family: "Source Sans 3", sans-serif;
}

.text-section-droite {
    max-width: 600px;
    flex: 1;
    margin-right: 10px;
}

.text-section-droite h2 {
    font-size: 3.5em;
    letter-spacing: 4px;
    margin-bottom: 20px;
    font-family: "Source Sans 3", sans-serif;
    font-optical-sizing: auto;
    font-weight: 243;
    font-style: bold;
}


.text-section-droite p {
    font-size: 1.5em;
    line-height: 1.6;
    margin-bottom: 20px;
    text-align: justify;
    font-family: "Source Sans 3", sans-serif;
}

.button {
    padding: 10px 20px;
    background-color: #4a2a5a;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1em;
    display: center;
}

.image-section-droite {
    flex: 0 0 40%;
    display: flex;
    justify-content: flex-start; /* Aligne l'image à gauche */
}

.image-section-droite img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.image-section-gauche {
    flex: 0 0 40%;
    display: flex;
    justify-content: flex-start; /* Aligne l'image à gauche */
}

.image-section-gauche img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

/*------FOOTER------*/

footer {
    background-color: #5e2a8b;
    text-align: center;
    padding: 10px;
    color: white;
}
